<h1 class="course-title"><%= current_course.title %></h1>
<p><%= simple_format current_course.description, class: 'course-description' %></p>
<%= image_tag current_course.image, class: 'imgs img-responsive' %>

