// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student-panel-wrapper {
  padding-bottom: 10px;
} 
.teacher-panel-wrapper {
  padding: 10px;
}
.course-description{
  font-size: 18px;
}
.price{
  font-size: 18px;
  font-weight: 100;
}