// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.imgs {
  width: 100%;
  height: 370px;
  object-fit: cover;
  padding: 10px;
}
.course-listings {
  font-family: 'Lato', sans-serif;
  text-align: center;
  a {
    color: #096176;
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #096176;
    color: #096176;
  }
  a:active {
    color: #2ecc71;
  }
}
.student-panel-wrapper {
  padding: 10px;
  margin: 0px;
}
.course-price{
  padding: 10px;
}
.price{
  font-size: 18px;
  font-weight: 100;
}
.course-description{
  font-size: 18px;
  text-align: left;
}
.course-sections-list {
  padding-right: 10px;
}
.section-id{
  color: #096176;
}
.lesson{
 font-family: 'Lato', sans-serif;
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
  }
  a:active {
    color: #2ecc71;
  }
}