// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.course-listings {
  font-family: 'Lato', sans-serif;
  a {
    color: #096176;
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid #096176;
    color: #096176;
  }
  a:active {
    color: #2ecc71;
  }
}
.student-panel-wrapper {
  padding-bottom: 10px;
}
.price{
  font-size: 18px;
  font-weight: 100;
}
.course-sections-list {
  padding-right: 10px;
}
.course-description{
  font-size: 18px;
}
