@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Rokkitt);

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin: 10px;
}
.clr {
  clear:both;
}
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 10px 10px 20px 10px;
}
.booyah-box {
  h2, h1 {
    margin:10px;
  }
}
h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}
.homepage {
  background: url('bg.jpg');
  font-family: 'Rokkitt', serif, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.btn, .label {
  border-radius:0;
}
.frosty {
  background:rgba(0,0,0, 0.5);
  color: white;
  position: absolute;
  top: 25%;
}
.frosty {
  h1{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-shadow: rgba(0,0,0,0.95) 1px 1px;
  }
  h2{
    font-family: 'Rokkitt', serif;
    font-weight: 200;
    text-shadow: rgba(0,0,0,0.95) 1px 1px;
  }
}
.hero{
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #bdc3c7;
}
.navbar {
  border-radius: 0;
  font-family: 'Rokkitt', serif;
  font-size: 20px;
  box-shadow: 0px 1px 3px #bdc3c7;
  background:url('double_lined.png');
}
.text-brand {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #2ecc71;
}
.icon {
  width:2em;
  height:2em;
  box-shadow:0 1px 3px rgba(0,0,0,.2);
  position: relative;
  bottom: 8px;
  z-index:1;
  transition:0.2s ease box-shadow;
  margin:0 auto;
}
.icon:hover {
  box-shadow:0 1px 3px rgba(0,0,0,.4);
}
.icon * {
  box-sizing:border-box;
}
.icon-floppy {
  background:#333;

  /* floppy label */
  span {
    position:absolute;
    width:1.6em;
    top:0em;
    height:1.1em;
    background:#fff;
    display:block;
    margin-left:-.8em;
    left:50%;
    border-top:.2em solid #00D900;
    border-bottom:.1em solid #00D900;
  }
  span:after {
    position:relative;
    background:rgba(0,0,0,.1);
    height:1px;
    display:block;
    content:"";
    width:100%;
    margin-top:.25em;
    clear:both;
    overflow:hidden;
    line-height:1px;
    bottom:1em;
  } 
  span:before {
    position:relative;
    background:rgba(0,0,0,.1);
    height:1px;
    display:block;
    content:"";
    width:100%;
    margin-top:.25em;
    clear:both;
    overflow:hidden;
    line-height:1px;
  }
}
/* floppy metal plate */
.icon-floppy:after {
  position:absolute;
  bottom:0px;
  background:#333;
  height:.35em;
  width:.25em;
  right:.6em;
  content:"";
  transition:0.2s ease all;
}
.icon-floppy:before {
  position:absolute;
  bottom:0px;
  background:#bbb;
  height:.5em;
  width:1em;
  left:50%;
  margin-left:-.5em;
  content:"";
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  transition:0.2s ease all;
}
/* hover slide effect */
.icon-floppy:hover:before {
  left:50%;
  margin-left:-.8em;
}
.icon-floppy:hover:after {
  right:.95em;
}
