// Place all the styles related to the instructor/courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-section {
  padding-left: 10px;
}
.teacher-panel-wrapper {
  padding: 10px;
}